{% extends 'base.html.twig' %}

{% block title %}New device
{% endblock %}

{% block body %}
	{{ form_start(formDevice) }}
	{{ form_rest(formDevice) }}

	<button type="submit" class="btn btn-danger">Valider</button>
	{{ form_end(formDevice) }}
{% endblock %}
