{% extends 'base.html.twig' %}

{% block title %}Nouvel Ordinateur
{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h2>Ajouter un ordinateur</h2>
        {{ form_start(formComputer) }}
        {{ form_rest(formComputer) }}
        <button type="submit" class="btn btn-success">Valider</button>
        {{ form_end(formComputer) }}
        <br>
        <a href=" {{ path('computer_index') }}" class="btn btn-secondary">Liste des ordinateurs</a>
    </main>
{% endblock %}