{% extends 'base.html.twig' %}

{% block title %}Components
{% endblock %}

{% block body %}
	{{ form_start(formComponent) }}
	{{ form_rest(formComponent) }}

	<button type="submit" class="btn btn-danger">Valider</button>

	{{ form_end(formComponent) }}
	{% endblock %}
